body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

a {
    color: white;
}

#mission {
    background-image: src('https://raw.githubusercontent.com/Codemonkey660/tea.cozy/refs/heads/main/img-mission-background.webp');
}
